In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
import requests
import time
from Functions import *

In [2]:
data = pd.read_csv(r'C:\Users\pabli\Desktop\Health-Database\data\columns.csv')

In [5]:
data.rename(columns={"IndCode": "Code"},inplace=True)

In [6]:
data

,Unnamed: 0,Code,IndName
0,0,AIR_42,Ambient air pollution attributable death rate ...
1,1,AIR_51,Household air pollution attributable death rat...
2,2,anc1,Antenatal care coverage - at least one visit (...
3,3,BP_04,Raised blood pressure (SBP>=140 OR DBP>=90) (a...
4,4,BP_06,Mean systolic blood pressure (age-standardized...
...,...,...,...
75,75,MALARIA_ITN_COVERAGE,Population with access to an insecticide-treat...
76,76,Adult_curr_cig_smoking,Prevalence of current cigarette smoking among ...
77,77,MALARIA_EST_MORTALITY,Estimated malaria mortality rate (per 100 000 ...
78,78,vmsl,Measles immunization coverage among one-year-o...
79,79,vpolio,Polio immunization coverage among one-year-old...

In [ ]:
data.drop(columns = "Unnamed: 0", inplace )

In [ ]:
for i,e in enumerate(data.IndCode):     
    ind_code = e
    ind_text = data.IndName[i]
    data_raw = get_indicator(ind_code, ind_text)

    data01a = data_raw[data_raw['Dim1'] == 'BTSX'][['country_code', 'year', ind_text]]
    data01a = remove_duplicates(data01a)
    all_ = all_.merge(data01a, how='left',on = ['year','Code'])