In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
from Functions import *

In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.4f}'.format

import pylab as plt
import seaborn as sns

import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split as tts

from sklearn.preprocessing import StandardScaler, MinMaxScaler  # normalizacion
from sklearn.decomposition import PCA

from sklearn.preprocessing import StandardScaler

from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score as r2

#%matplotlib inline

from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import Lasso        # regularizacion L1
from sklearn.linear_model import Ridge        # regularizacion L2
from sklearn.linear_model import ElasticNet

from sklearn.linear_model import LogisticRegression as LogReg

from sklearn.svm import SVR

#!pip install xgboost
#!pip install catboost
#!pip install lightgbm
#!pip install h2o

from sklearn.ensemble import RandomForestRegressor as RFR  
from sklearn.tree import ExtraTreeRegressor as ETR
from sklearn.ensemble import GradientBoostingRegressor as GBR
from xgboost import XGBRegressor as XGBR
from catboost import CatBoostRegressor as CTR
from lightgbm import LGBMRegressor as LGBMR

import h2o
from h2o.automl import H2OAutoML

from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import ComplementNB
from sklearn import linear_model
from sklearn.neighbors import KNeighborsClassifier

from catboost import CatBoostRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.kernel_ridge import KernelRidge

In [10]:
def ml1():
    
    models = {'RFR':{'MODEL':RFR(),'PARAM':{'n_estimators': [50,150,500],'max_depth':[1,10,15],'min_weight_fraction_leaf':[0.0,0.1,0.2]}}}
              #'XGB':{'MODEL':XGBR(),'PARAM':{'n_estimators': [10, 50, 100, 150, 200, 500],'max_depth': [1, 5,6, 10, 15, 20],'learning_rate':[0.001,0.002,0.01,0.05] }},
              #'SVR':{'MODEL':SVR(),'PARAM':{'kernel':['rbf','poly','linear']}},
              #'CTR':{'MODEL':CTR(),'PARAM:':{'depth' : [6,8,10],'learning_rate' : [0.01, 0.05, 0.1],'iterations': [30, 50, 100],'subsample' : [0.5, 0.7, 1.0]}},
              #'GaussianNB':{'MODEL':GaussianNB(),'PARAM':{'var_smoothing':[1e-09]}},
   
              #'Lasso':{'MODEL':Lasso(),'PARAM':{'alpha':[0.3,0.5,0.7,0.9,1.0],'max_iter':[800,1000,1200]}}}
    
    rmse = []
    name = []
    #b = []
    score = []
    dfmodels = pd.DataFrame()
    
    for m in models:
        x = models[m]["MODEL"]
        p = models[m]["PARAM"]
        y_pred=grid(x,p).predict(X_test)
        #best= grid(x,p).best_params_   
        #sco = grid(x,p).best_score_
        MSE = mse(y_test, y_pred, squared=False)
        #score.append(sco)
        #b.append(best)
        rmse.append(MSE)
        name.append(m)
        importance = grid(x,p).feature_importances_
        for i,v in enumerate(importance):
            print('Feature: %0d, Score: %.5f' % (i,v))
    dfmodels['Modelo'] = name
    dfmodels['RMSE'] = rmse
    #dfmodels['Best_Parametres'] = b
    #dfmodels['bestsco'] = score                        
    dfmodels.sort_values("RMSE",ascending=True,inplace=True,ignore_index=True)
    print(f'model {dfmodels.Modelo[0]} rmse {dfmodels.RMSE[0]} ')
    
    
    return dfmodels


def grid(modelo, param):
    
    g=GridSearchCV(modelo, # modelo de sklearn
                   param,  # dictio de parametros
                   cv=5,   # nº de cortes del cross-validation
                   return_train_score=True, # error en entrenamiento para checkear
                   n_jobs=-1  # usa todos los nucleos disponibles
                  )

    g.fit(X_train, y_train)
    print('Acierto test: {:.2f}'.format(g.score(X_test, y_test)))
    print('Acierto train: {:.2f}'.format(g.score(X_train, y_train)))
    print('Mejores parametros: {}'.format(g.best_params_))
    print('Modelo: {}'.format(modelo))
    print('Mejor acierto cv: {:.2f}'.format(g.best_score_))

    return g.best_estimator_.fit(X_train, y_train)

In [4]:
def machine_learning():
    
    modelos = {'LinReg':LinReg(), 'Lasso':Lasso(), 'Ridge':Ridge(), 'Elastic':ElasticNet(),'RFR':RFR()}
    
    nombres = ['LinReg', 'Lasso', 'Ridge', 'Elastic','RFR']
    
    RMSE = []
    R2_test = []
    R2_train = []

    resumen_modelos = pd.DataFrame()

    for m in modelos:
     
            
        mod = modelos[m]
        mod.fit(X_train, y_train)

        y_pred=mod.predict(X_test)
        error = mse(y_test, y_pred, squared=False)

        y_pred = mod.predict(X_test)
        R2_ts = mod.score(X_test, y_test)
        y_pred = mod.predict(X_train) 
        R2_tr = mod.score(X_train, y_train)

        RMSE.append(int(error))
        R2_test.append(R2_ts)
        R2_train.append(R2_tr)

    resumen_modelos['Modelo'] = nombres
    resumen_modelos['RMSE'] = RMSE
    resumen_modelos['R2_test'] = R2_test
    resumen_modelos['R2_train'] = R2_train
    
    dict_errores = dict(zip(nombres, RMSE))
    best = list(dict_errores.keys())[list(dict_errores.values()).index(min(RMSE))] 
    
    modelo = modelos[best]
    
    modelo.fit(X_train, y_train)
    
    y_pred = modelo.predict(X_test)
    R2_test = modelo.score(X_test, y_test)
    y_pred = modelo.predict(X_train) 
    R2_train = modelo.score(X_train, y_train)
    
    error = round(min(RMSE),2)
    R2_train = round(R2_train, 4)
    R2_test = round(R2_test, 4)
    
    if R2_train > (1.15*R2_test):
        print(f'Best Model: {best}, RMSE = {error}, R2_train = {R2_train}, R2_test = {R2_test}, OVERFITING (modifica datos)')
    
    elif R2_train > R2_test:
        print(f'Best Model: {best}, RMSE = {error}, R2_train = {R2_train}, R2_test = {R2_test}, LO NORMAL')
    
    elif R2_train < R2_test:
        print(f'Best Model: {best}, RMSE = {error}, R2_train = {R2_train}, R2_test = {R2_test}, UNDERFITING (dame más datos)')
        
    return modelos[resumen_modelos["Modelo"][4]]

In [11]:
df1=pd.read_csv(f"C:\\Users\\pabli\\Desktop\\Health-Database\\data\\Df_modeling2\\threshold4.csv")

In [7]:
factors = ["Adolescent birth rate (per 1000 women aged 15-19 years)","Total NCD Deaths (in thousands)","Estimates of rates of homicides per 100 000 population","Age-standardized suicide rates (per 100 000 population)","Prevalence of controlled hypertension among adults aged 30-79 years with hypertension, age-standardized","gdp/percap","per_capita-Chronic Respiratory Diseases"]

In [74]:
df1`""

,Unnamed: 0,Malaria,Interpersonal Violence,HIV/AIDS,Drug Use Disorders,Exposure to Forces of Nature,Environmental Heat and Cold Exposure,Conflict and Terrorism,Protein-Energy Malnutrition,Acute Hepatitis,per_capita-Malaria,per_capita-Drowning,per_capita-Interpersonal Violence,per_capita-HIV/AIDS,per_capita-Drug Use Disorders,per_capita-Alcohol Use Disorders,per_capita-Exposure to Forces of Nature,per_capita-Diarrheal Diseases,per_capita-Environmental Heat and Cold Exposure,per_capita-Conflict and Terrorism,per_capita-Diabetes Mellitus,per_capita-Protein-Energy Malnutrition,per_capita-Road Injuries,per_capita-Chronic Respiratory Diseases,per_capita-Cirrhosis and Other Chronic Liver Diseases,per_capita-Acute Hepatitis,gdp/percap,Out-of-pocket expenditure as percentage of current health expenditure (CHE) (%),Domestic private health expenditure (PVT-D) per capita in US$,Adolescent birth rate (per 1000 women aged 15-19 years),Deaths due to tuberculosis among HIV-negative people (per 100 000 population),Age-standardized suicide rates (per 100 000 population),Total NCD Deaths (in thousands),Estimated number of road traffic deaths,Estimated road traffic death rate (per 100 000 population),"Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)_x","Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)_y",Mortality rate attributed to unintentional poisoning (per 100 000 population),Crude suicide rates (per 100 000 population),Estimates of number of homicides,Estimates of rates of homicides per 100 000 population,Yellow fever - number of reported cases,Mumps - number of reported cases,"Prevalence of controlled hypertension among adults aged 30-79 years with hypertension, age-standardized",num_nan
0,0,2883.0000,3277.0000,111.0000,202.0000,1286.0000,53.0000,977.0000,2746.0000,4251.0000,0.0001,0.0001,0.0001,0.0000,0.0000,0.0000,0.0001,0.0005,0.0000,0.0000,0.0001,0.0001,0.0003,0.0003,0.0001,0.0002,218.0500,85.3800,13.4900,12.3000,57.0000,7.6900,44342.7300,733.7519,14.9154,0.0079,0.0000,0.8312,5.3500,2010.9130,10.1756,0.0000,0.0000,4.9000,19
1,1,2188.0000,3458.0000,118.0000,216.0000,137.0000,55.0000,864.0000,2984.0000,4373.0000,0.0001,0.0001,0.0001,0.0000,0.0000,0.0000,0.0000,0.0005,0.0000,0.0000,0.0001,0.0001,0.0003,0.0003,0.0001,0.0002,246.6268,86.0700,14.6600,8.1000,58.0000,7.7800,44521.9100,3556.0000,22.5714,0.0079,0.0000,4.2060,4.9500,2137.9780,10.4018,0.0000,0.0000,5.3000,19
2,2,773.0000,3479.0000,125.0000,229.0000,18.0000,57.0000,1049.0000,2978.0000,4345.0000,0.0000,0.0001,0.0001,0.0000,0.0000,0.0000,0.0000,0.0005,0.0000,0.0000,0.0001,0.0001,0.0003,0.0003,0.0001,0.0002,269.4800,84.5300,17.2500,135.7000,51.0000,7.7700,47583.4600,3757.0000,15.1941,0.0079,0.0000,0.8695,5.3900,330.4790,16.2720,0.0000,0.0000,5.6000,18
3,3,545.0000,3506.0000,132.0000,239.0000,561.0000,78.0000,2114.0000,2824.0000,4194.0000,0.0000,0.0001,0.0001,0.0000,0.0000,0.0000,0.0000,0.0004,0.0000,0.0001,0.0001,0.0001,0.0003,0.0003,0.0001,0.0002,324.8945,78.9700,18.8700,8.2000,47.0000,7.7800,95631.1200,3891.0000,15.1671,0.0008,0.0000,0.7984,4.5400,2118.9150,2.8048,0.0000,0.0000,5.9000,15
4,4,414.0000,3609.0000,140.0000,245.0000,382.0000,57.0000,5677.0000,2675.0000,3870.0000,0.0000,0.0001,0.0001,0.0000,0.0000,0.0000,0.0000,0.0004,0.0000,0.0002,0.0001,0.0001,0.0003,0.0003,0.0001,0.0001,379.2021,76.8200,21.3900,4.3000,43.0000,7.7500,97079.5500,3101.3450,22.7640,0.0079,0.0000,1.9292,4.4400,2500.9800,9.4616,0.0000,0.0000,6.3000,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3073,3073,2518.0000,1302.0000,29162.0000,104.0000,16.0000,37.0000,13.0000,2990.0000,146.0000,0.0002,0.0001,0.0001,0.0020,0.0000,0.0000,0.0000,0.0004,0.0000,0.0000,0.0002,0.0002,0.0002,0.0002,0.0001,0.0000,1403.3481,25.7900,59.1500,1.6333,7.9000,30.7352,26388.9800,4162.5460,63.3687,3.8400,0.0500,5.1448,23.8332,431.2020,13.4306,0.0000,0.0000,9.8000,10
3074,3074,2050.0000,1342.0000,27141.0000,110.0000,31.0000,37.0000,6.0000,3027.0000,146.0000,0.0001,0.0001,0.0001,0.0019,0.0000,0.0000,0.0000,0.0003,0.0000,0.0000,0.0002,0.0002,0.0002,0.0002,0.0001,0.0000,1413.0099,23.3100,54.8400,1.2000,8.6000,44.4823,46639.9900,5601.0000,65.4244,3.7600,0.0506,5.0232,11.5503,1896.0920,5.8484,0.0000,14.0000,10.4000,15
3075,3075,2116.0000,1363.0000,24846.0000,115.0000,251.0000,37.0000,5.0000,2962.0000,144.0000,0.0001,0.0001,0.0001,0.0017,0.0000,0.0000,0.0000,0.0003,0.0000,0.0000,0.0002,0.0002,0.0002,0.0002,0.0001,0.0000,1438.3112,22.8100,52.3600,1.1000,8.3000,41.3055,25688.8600,5702.4520,16.7285,3.8200,0.0506,3.6810,9.5900,422.4477,5.6632,0.0000,18.0000,11.0000,19
3076,3076,2088.0000,1396.0000,22106.0000,121.0000,0.0000,37.0000,9.0000,2890.0000,139.0000,0.0001,0.0001,0.0001,0.0015,0.0000,0.0000,0.0000,0.0003,0.0000,0.0000,0.0002,0.0002,0.0002,0.0002,0.0001,0.0000,2484.8449,19.7000,60.4600,1.6333,7.7000,13.4846,20001.7700,1272.9010,66.7865,3.1000,0.0506,4.5801,19.8687,1904.7880,21.6472,0.0000,2.0000,11.7000,24
3077,3077,2068.0000,1434.0000,20722.0000,127.0000,660.0000,37.0000,11.0000,2855.0000,136.0000,0.0001,0.0001,0.0001,0.0013,0.0000,0.0000,0.0000,0.0003,0.0000,0.0000,0.0002,0.0002,0.0002,0.0002,0.0001,0.0000,1482.3557,24.3800,54.4100,1.6333,11.0000,37.8141,20456.0600,4742.7050,41.2236,3.1100,0.0506,2.8163,8.7900,1916.1480,13.0836,0.0000,8.0000,12.4000,33

In [32]:
df1=pd.read_csv(f"C:\\Users\\pabli\\Desktop\\Health-Database\\data\\Df_modeling2\\threshold4.csv")

In [34]:
df1.drop(columns="Unnamed: 0",inplace=True)

In [35]:
df1_ = df1.drop(columns="Adolescent birth rate (per 1000 women aged 15-19 years)").columns

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

df1[df1_]=scaler.fit_transform(df1[df1_])

In [38]:
X = df1.drop(columns="Adolescent birth rate (per 1000 women aged 15-19 years)")

y = df1["Adolescent birth rate (per 1000 women aged 15-19 years)"]

X.head()

,Malaria,Interpersonal Violence,HIV/AIDS,Drug Use Disorders,Exposure to Forces of Nature,Environmental Heat and Cold Exposure,Conflict and Terrorism,Protein-Energy Malnutrition,Acute Hepatitis,per_capita-Malaria,per_capita-Drowning,per_capita-Interpersonal Violence,per_capita-HIV/AIDS,per_capita-Drug Use Disorders,per_capita-Alcohol Use Disorders,per_capita-Exposure to Forces of Nature,per_capita-Diarrheal Diseases,per_capita-Environmental Heat and Cold Exposure,per_capita-Conflict and Terrorism,per_capita-Diabetes Mellitus,per_capita-Protein-Energy Malnutrition,per_capita-Road Injuries,per_capita-Chronic Respiratory Diseases,per_capita-Cirrhosis and Other Chronic Liver Diseases,per_capita-Acute Hepatitis,gdp/percap,Out-of-pocket expenditure as percentage of current health expenditure (CHE) (%),Domestic private health expenditure (PVT-D) per capita in US$,Deaths due to tuberculosis among HIV-negative people (per 100 000 population),Age-standardized suicide rates (per 100 000 population),Total NCD Deaths (in thousands),Estimated number of road traffic deaths,Estimated road traffic death rate (per 100 000 population),"Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)_x","Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)_y",Mortality rate attributed to unintentional poisoning (per 100 000 population),Crude suicide rates (per 100 000 population),Estimates of number of homicides,Estimates of rates of homicides per 100 000 population,Yellow fever - number of reported cases,Mumps - number of reported cases,"Prevalence of controlled hypertension among adults aged 30-79 years with hypertension, age-standardized",num_nan
0,-0.0770,0.0797,-0.3000,-0.1162,0.1557,-0.1659,0.2157,0.2152,0.8128,-0.1554,1.4583,0.5026,-0.3685,-0.1356,-0.5374,0.1003,0.4717,-0.3499,0.2044,-0.5787,0.4728,1.0232,0.0473,-0.5385,11.4599,-0.6554,2.5911,-0.4688,1.8591,-0.3109,-0.1866,-0.2013,-0.2450,-0.8529,-0.6485,-0.3213,-0.4629,0.0309,0.0864,-0.0864,-0.1392,-0.7092,0.2943
1,-0.1113,0.1028,-0.2997,-0.1122,-0.0339,-0.1648,0.1730,0.2633,0.8405,-0.2239,1.6952,0.4975,-0.3685,-0.1312,-0.5398,-0.0162,0.4955,-0.3521,0.1481,-0.5867,0.4989,1.0773,-0.0479,-0.5689,11.1081,-0.6539,2.6273,-0.4669,1.9036,-0.3034,-0.1863,-0.0824,0.3916,-0.8529,-0.6485,1.7284,-0.4962,0.0533,0.1022,-0.0864,-0.1392,-0.6639,0.2943
2,-0.1810,0.1055,-0.2994,-0.1085,-0.0535,-0.1637,0.2429,0.2621,0.8342,-0.3376,1.7463,0.4718,-0.3683,-0.1160,-0.5397,-0.0276,0.4594,-0.3512,0.1996,-0.5792,0.4687,1.1052,-0.0914,-0.5824,10.7189,-0.6527,2.5466,-0.4626,1.5921,-0.3043,-0.1806,-0.0739,-0.2218,-0.8529,-0.6485,-0.2981,-0.4595,-0.2651,0.5118,-0.0864,-0.1392,-0.6300,0.1757
3,-0.1922,0.1089,-0.2992,-0.1056,0.0361,-0.1524,0.6457,0.2310,0.7998,-0.3561,1.5873,0.4518,-0.3682,-0.1069,-0.5402,0.0214,0.3754,-0.3166,0.5237,-0.5775,0.3930,1.0596,-0.1488,-0.6118,10.0598,-0.6498,2.2555,-0.4600,1.4141,-0.3034,-0.0919,-0.0683,-0.2241,-0.8550,-0.6485,-0.3412,-0.5303,0.0500,-0.4279,-0.0864,-0.1392,-0.5961,-0.1802
4,-0.1986,0.1220,-0.2989,-0.1039,0.0065,-0.1637,1.9932,0.2009,0.7262,-0.3669,1.4071,0.4498,-0.3681,-0.1098,-0.5420,0.0042,0.2541,-0.3567,1.5815,-0.5835,0.3167,0.9492,-0.2125,-0.6521,8.9368,-0.6470,2.1429,-0.4558,1.2361,-0.3059,-0.0893,-0.1015,0.4076,-0.8529,-0.6485,0.3456,-0.5386,0.1173,0.0366,-0.0864,-0.1392,-0.5508,-0.8919

In [39]:

from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test = tts(X, y, train_size=0.9, test_size=0.1, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2770, 43), (308, 43), (2770,), (308,))

In [ ]:
Primero selecionar modelos optimos sin hyperparametros y con todas las columnas
elegir mejor modelo y hacer la feature selection
volver a entrenar el modelo pero ahora optimizando hyperparametros
guardar modelo entrenado para cada variable a predecir

In [50]:
# report which features were selected by RFE
from sklearn.datasets import make_classification
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
# define dataset
# define RFE
rfe = RFE(estimator=machine_learning(), n_features_to_select=5)
# fit RFE
rfe.fit(X, y)
# summarize all features
for i in range(X.shape[1]):
    print('Column: %d, Selected %s, Rank: %.3f' % (i, rfe.support_[i], rfe.ranking_[i]))

Best Model: RFR, RMSE = 10, R2_train = 0.9363, R2_test = 0.5412, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 10.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected True, Rank: 1.000
Column: 3, Selected False, Rank: 33.000
Column: 4, Selected False, Rank: 38.000
Column: 5, Selected False, Rank: 5.000
Column: 6, Selected False, Rank: 27.000
Column: 7, Selected False, Rank: 11.000
Column: 8, Selected True, Rank: 1.000
Column: 9, Selected True, Rank: 1.000
Column: 10, Selected False, Rank: 4.000
Column: 11, Selected False, Rank: 21.000
Column: 12, Selected False, Rank: 2.000
Column: 13, Selected False, Rank: 6.000
Column: 14, Selected False, Rank: 23.000
Column: 15, Selected False, Rank: 36.000
Column: 16, Selected False, Rank: 25.000
Column: 17, Selected False, Rank: 30.000
Column: 18, Selected False, Rank: 37.000
Column: 19, Selected False, Rank: 28.000
Column: 20, Selected False, Rank: 29.000
Column: 21, Selected False, Rank: 13.000
Column: 22, Selected False, Rank: 8.000
Column: 23, Selected False, Rank: 18.000
Column: 24, Selected False, Rank: 9.000
Column: 25, Selected False, Rank: 3.000
Column: 26, Selected False, Rank: 20.000
Column: 27, Selected False, Rank: 7.000
Column: 28, Selected False, Rank: 16.000
Column: 29, Selected False, Rank: 32.000
Column: 30, Selected False, Rank: 17.000
Column: 31, Selected False, Rank: 15.000
Column: 32, Selected False, Rank: 14.000
Column: 33, Selected False, Rank: 12.000
Column: 34, Selected False, Rank: 35.000
Column: 35, Selected False, Rank: 34.000
Column: 36, Selected False, Rank: 22.000
Column: 37, Selected True, Rank: 1.000
Column: 38, Selected False, Rank: 24.000
Column: 39, Selected False, Rank: 39.000
Column: 40, Selected False, Rank: 26.000
Column: 41, Selected False, Rank: 19.000
Column: 42, Selected False, Rank: 31.000

In [52]:
d1 = []
for i in range(X.shape[1]):
    if rfe.support_[i] == True:
        d1.append(i)

In [58]:
y

0       12.3000
1        8.1000
2      135.7000
3        8.2000
4        4.3000
         ...
3073     1.6333
3074     1.2000
3075     1.1000
3076     1.6333
3077     1.6333
Name: Adolescent birth rate (per 1000 women aged 15-19 years), Length: 3078, dtype: float64

In [59]:
dic = {}
dic[y.name]= d1

In [13]:
from sklearn.datasets import make_classification
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
dic1 = {}
for i in factors:
    df1=pd.read_csv(f"C:\\Users\\pabli\\Desktop\\Health-Database\\data\\Df_modeling2\\threshold4.csv")
    df1.drop(columns="Unnamed: 0",inplace=True)
    df1_ = df1.drop(columns=i).columns
    scaler=StandardScaler()
    df1[df1_]=scaler.fit_transform(df1[df1_])
    X = df1.drop(columns=i)
    y = df1[i]
    X_train, X_test, y_train, y_test = tts(X, y, train_size=0.9, test_size=0.1, random_state=42)
    rfe = RFE(estimator=machine_learning(), n_features_to_select=5)
    rfe.fit(X, y)
    for t in range(X.shape[1]):
        print('Column: %d, Selected %s, Rank: %.3f' % (t, rfe.support_[t], rfe.ranking_[t]))
    d1 = []
    for t in range(X.shape[1]):
        if rfe.support_[t] == True:
            d1.append(t)
    dic1[y.name]= d1
    df = df1.iloc[:,dic1[y.name]]
    df.to_csv(f"C:\\Users\\pabli\\Desktop\\Health-Database\\data\\thresh4_models\\{i}.csv")

Best Model: RFR, RMSE = 10, R2_train = 0.9416, R2_test = 0.5722, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 19.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected False, Rank: 2.000
Column: 3, Selected False, Rank: 33.000
Column: 4, Selected False, Rank: 39.000
Column: 5, Selected False, Rank: 4.000
Column: 6, Selected False, Rank: 25.000
Column: 7, Selected True, Rank: 1.000
Column: 8, Selected True, Rank: 1.000
Column: 9, Selected True, Rank: 1.000
Column: 10, Selected False, Rank: 3.000
Column: 11, Selected False, Rank: 21.000
Column: 12, Selected True, Rank: 1.000
Column: 13, Selected False, Rank: 7.000
Column: 14, Selected False, Rank: 23.000
Column: 15, Selected False, Rank: 37.000
Column: 16, Selected False, Rank: 27.000
Column: 17, Selected False, Rank: 30.000
Column: 18, Selected False, Rank: 36.000
Column: 19, Selected False, Rank: 28.000
Column: 20, Selected False, Rank: 26.000
Column: 21, Selected False, Rank: 13.000
Column: 22, Selected False, Rank: 8.000
Column: 23, Selected False, Rank: 17.000
Column: 24, Selected False, Rank: 10.000
Column: 25, Selected False, Rank: 6.000
Column: 26, Selected False, Rank: 22.000
Column: 27, Selected False, Rank: 5.000
Column: 28, Selected False, Rank: 12.000
Column: 29, Selected False, Rank: 31.000
Column: 30, Selected False, Rank: 11.000
Column: 31, Selected False, Rank: 15.000
Column: 32, Selected False, Rank: 14.000
Column: 33, Selected False, Rank: 16.000
Column: 34, Selected False, Rank: 35.000
Column: 35, Selected False, Rank: 34.000
Column: 36, Selected False, Rank: 20.000
Column: 37, Selected False, Rank: 9.000
Column: 38, Selected False, Rank: 24.000
Column: 39, Selected False, Rank: 38.000
Column: 40, Selected False, Rank: 29.000
Column: 41, Selected False, Rank: 18.000
Column: 42, Selected False, Rank: 32.000
Best Model: Elastic, RMSE = 131027, R2_train = 0.7518, R2_test = 0.8617, UNDERFITING (dame más datos)
Column: 0, Selected False, Rank: 34.000
Column: 1, Selected False, Rank: 22.000
Column: 2, Selected False, Rank: 14.000
Column: 3, Selected True, Rank: 1.000
Column: 4, Selected False, Rank: 7.000
Column: 5, Selected False, Rank: 28.000
Column: 6, Selected False, Rank: 23.000
Column: 7, Selected False, Rank: 6.000
Column: 8, Selected False, Rank: 3.000
Column: 9, Selected False, Rank: 38.000
Column: 10, Selected False, Rank: 24.000
Column: 11, Selected True, Rank: 1.000
Column: 12, Selected False, Rank: 27.000
Column: 13, Selected False, Rank: 5.000
Column: 14, Selected False, Rank: 8.000
Column: 15, Selected False, Rank: 17.000
Column: 16, Selected False, Rank: 36.000
Column: 17, Selected False, Rank: 15.000
Column: 18, Selected False, Rank: 29.000
Column: 19, Selected False, Rank: 20.000
Column: 20, Selected False, Rank: 21.000
Column: 21, Selected False, Rank: 11.000
Column: 22, Selected False, Rank: 4.000
Column: 23, Selected True, Rank: 1.000
Column: 24, Selected False, Rank: 18.000
Column: 25, Selected False, Rank: 33.000
Column: 26, Selected False, Rank: 31.000
Column: 27, Selected False, Rank: 26.000
Column: 28, Selected False, Rank: 9.000
Column: 29, Selected False, Rank: 32.000
Column: 30, Selected False, Rank: 13.000
Column: 31, Selected True, Rank: 1.000
Column: 32, Selected False, Rank: 30.000
Column: 33, Selected True, Rank: 1.000
Column: 34, Selected False, Rank: 16.000
Column: 35, Selected False, Rank: 12.000
Column: 36, Selected False, Rank: 25.000
Column: 37, Selected False, Rank: 2.000
Column: 38, Selected False, Rank: 10.000
Column: 39, Selected False, Rank: 39.000
Column: 40, Selected False, Rank: 19.000
Column: 41, Selected False, Rank: 37.000
Column: 42, Selected False, Rank: 35.000
Best Model: RFR, RMSE = 6, R2_train = 0.945, R2_test = 0.636, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 36.000
Column: 1, Selected False, Rank: 30.000
Column: 2, Selected False, Rank: 33.000
Column: 3, Selected False, Rank: 34.000
Column: 4, Selected False, Rank: 28.000
Column: 5, Selected False, Rank: 10.000
Column: 6, Selected False, Rank: 38.000
Column: 7, Selected False, Rank: 20.000
Column: 8, Selected False, Rank: 37.000
Column: 9, Selected False, Rank: 14.000
Column: 10, Selected False, Rank: 21.000
Column: 11, Selected True, Rank: 1.000
Column: 12, Selected False, Rank: 7.000
Column: 13, Selected False, Rank: 25.000
Column: 14, Selected True, Rank: 1.000
Column: 15, Selected False, Rank: 23.000
Column: 16, Selected False, Rank: 26.000
Column: 17, Selected False, Rank: 9.000
Column: 18, Selected False, Rank: 32.000
Column: 19, Selected False, Rank: 4.000
Column: 20, Selected True, Rank: 1.000
Column: 21, Selected False, Rank: 15.000
Column: 22, Selected False, Rank: 8.000
Column: 23, Selected True, Rank: 1.000
Column: 24, Selected False, Rank: 35.000
Column: 25, Selected False, Rank: 12.000
Column: 26, Selected False, Rank: 19.000
Column: 27, Selected False, Rank: 27.000
Column: 28, Selected False, Rank: 11.000
Column: 29, Selected False, Rank: 29.000
Column: 30, Selected False, Rank: 18.000
Column: 31, Selected False, Rank: 2.000
Column: 32, Selected False, Rank: 6.000
Column: 33, Selected True, Rank: 1.000
Column: 34, Selected False, Rank: 22.000
Column: 35, Selected False, Rank: 24.000
Column: 36, Selected False, Rank: 16.000
Column: 37, Selected False, Rank: 17.000
Column: 38, Selected False, Rank: 3.000
Column: 39, Selected False, Rank: 39.000
Column: 40, Selected False, Rank: 31.000
Column: 41, Selected False, Rank: 5.000
Column: 42, Selected False, Rank: 13.000
Best Model: Lasso, RMSE = 7, R2_train = 0.4575, R2_test = 0.2667, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 38.000
Column: 1, Selected False, Rank: 25.000
Column: 2, Selected False, Rank: 17.000
Column: 3, Selected False, Rank: 32.000
Column: 4, Selected False, Rank: 36.000
Column: 5, Selected False, Rank: 35.000
Column: 6, Selected False, Rank: 37.000
Column: 7, Selected False, Rank: 34.000
Column: 8, Selected False, Rank: 30.000
Column: 9, Selected False, Rank: 27.000
Column: 10, Selected False, Rank: 13.000
Column: 11, Selected True, Rank: 1.000
Column: 12, Selected True, Rank: 1.000
Column: 13, Selected False, Rank: 19.000
Column: 14, Selected False, Rank: 4.000
Column: 15, Selected False, Rank: 29.000
Column: 16, Selected False, Rank: 8.000
Column: 17, Selected True, Rank: 1.000
Column: 18, Selected False, Rank: 33.000
Column: 19, Selected False, Rank: 7.000
Column: 20, Selected False, Rank: 21.000
Column: 21, Selected True, Rank: 1.000
Column: 22, Selected False, Rank: 14.000
Column: 23, Selected False, Rank: 12.000
Column: 24, Selected False, Rank: 23.000
Column: 25, Selected False, Rank: 22.000
Column: 26, Selected False, Rank: 9.000
Column: 27, Selected False, Rank: 5.000
Column: 28, Selected False, Rank: 28.000
Column: 29, Selected False, Rank: 26.000
Column: 30, Selected False, Rank: 15.000
Column: 31, Selected False, Rank: 10.000
Column: 32, Selected False, Rank: 3.000
Column: 33, Selected False, Rank: 11.000
Column: 34, Selected False, Rank: 16.000
Column: 35, Selected False, Rank: 2.000
Column: 36, Selected True, Rank: 1.000
Column: 37, Selected False, Rank: 18.000
Column: 38, Selected False, Rank: 6.000
Column: 39, Selected False, Rank: 39.000
Column: 40, Selected False, Rank: 31.000
Column: 41, Selected False, Rank: 24.000
Column: 42, Selected False, Rank: 20.000
Best Model: RFR, RMSE = 1, R2_train = 0.9947, R2_test = 0.9705, LO NORMAL
Column: 0, Selected False, Rank: 38.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected False, Rank: 20.000
Column: 3, Selected True, Rank: 1.000
Column: 4, Selected False, Rank: 34.000
Column: 5, Selected False, Rank: 23.000
Column: 6, Selected False, Rank: 35.000
Column: 7, Selected False, Rank: 17.000
Column: 8, Selected False, Rank: 21.000
Column: 9, Selected False, Rank: 22.000
Column: 10, Selected False, Rank: 15.000
Column: 11, Selected False, Rank: 6.000
Column: 12, Selected False, Rank: 16.000
Column: 13, Selected False, Rank: 18.000
Column: 14, Selected False, Rank: 14.000
Column: 15, Selected False, Rank: 36.000
Column: 16, Selected False, Rank: 7.000
Column: 17, Selected False, Rank: 3.000
Column: 18, Selected False, Rank: 37.000
Column: 19, Selected False, Rank: 8.000
Column: 20, Selected False, Rank: 13.000
Column: 21, Selected False, Rank: 9.000
Column: 22, Selected False, Rank: 12.000
Column: 23, Selected False, Rank: 11.000
Column: 24, Selected False, Rank: 4.000
Column: 25, Selected True, Rank: 1.000
Column: 26, Selected False, Rank: 5.000
Column: 27, Selected True, Rank: 1.000
Column: 28, Selected False, Rank: 26.000
Column: 29, Selected True, Rank: 1.000
Column: 30, Selected False, Rank: 29.000
Column: 31, Selected False, Rank: 27.000
Column: 32, Selected False, Rank: 25.000
Column: 33, Selected False, Rank: 33.000
Column: 34, Selected False, Rank: 2.000
Column: 35, Selected False, Rank: 24.000
Column: 36, Selected False, Rank: 19.000
Column: 37, Selected False, Rank: 30.000
Column: 38, Selected False, Rank: 28.000
Column: 39, Selected False, Rank: 31.000
Column: 40, Selected False, Rank: 39.000
Column: 41, Selected False, Rank: 32.000
Column: 42, Selected False, Rank: 10.000

Best Model: RFR, RMSE = 2095, R2_train = 0.9971, R2_test = 0.9872, LO NORMAL
Column: 0, Selected False, Rank: 38.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected False, Rank: 23.000
Column: 3, Selected False, Rank: 24.000
Column: 4, Selected False, Rank: 26.000
Column: 5, Selected False, Rank: 13.000
Column: 6, Selected False, Rank: 37.000
Column: 7, Selected False, Rank: 6.000
Column: 8, Selected False, Rank: 21.000
Column: 9, Selected False, Rank: 28.000
Column: 10, Selected False, Rank: 9.000
Column: 11, Selected False, Rank: 7.000
Column: 12, Selected False, Rank: 19.000
Column: 13, Selected True, Rank: 1.000
Column: 14, Selected False, Rank: 16.000
Column: 15, Selected False, Rank: 33.000
Column: 16, Selected False, Rank: 8.000
Column: 17, Selected False, Rank: 17.000
Column: 18, Selected False, Rank: 36.000
Column: 19, Selected False, Rank: 5.000
Column: 20, Selected True, Rank: 1.000
Column: 21, Selected False, Rank: 3.000
Column: 22, Selected True, Rank: 1.000
Column: 23, Selected False, Rank: 4.000
Column: 24, Selected False, Rank: 10.000
Column: 25, Selected False, Rank: 2.000
Column: 26, Selected True, Rank: 1.000
Column: 27, Selected False, Rank: 18.000
Column: 28, Selected False, Rank: 14.000
Column: 29, Selected False, Rank: 32.000
Column: 30, Selected False, Rank: 15.000
Column: 31, Selected False, Rank: 34.000
Column: 32, Selected False, Rank: 27.000
Column: 33, Selected False, Rank: 11.000
Column: 34, Selected False, Rank: 30.000
Column: 35, Selected False, Rank: 29.000
Column: 36, Selected False, Rank: 31.000
Column: 37, Selected False, Rank: 20.000
Column: 38, Selected False, Rank: 22.000
Column: 39, Selected False, Rank: 39.000
Column: 40, Selected False, Rank: 35.000
Column: 41, Selected False, Rank: 12.000
Column: 42, Selected False, Rank: 25.000

OSError: Cannot save file into a non-existent directory: 'C:\Users\pabli\Desktop\Health-Database\data\thresh4_models\gdp'

In [5]:
lst = [1,2,3,5]

In [12]:
from sklearn.datasets import make_classification
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
for r in lst:
    dic = {}
    for i in factors:
        df1=pd.read_csv(f"C:\\Users\\pabli\\Desktop\\Health-Database\\data\\Df_modeling2\\threshold{r}.csv")
        df1.drop(columns="Unnamed: 0",inplace=True)
        try:   
            df1_ = df1.drop(columns=i).columns
            scaler=StandardScaler()
            df1[df1_]=scaler.fit_transform(df1[df1_])
            X = df1.drop(columns=i)
            y = df1[i]
            X_train, X_test, y_train, y_test = tts(X, y, train_size=0.9, test_size=0.1, random_state=42)
            rfe = RFE(estimator=machine_learning(), n_features_to_select=5)
            rfe.fit(X, y)
            for t in range(X.shape[1]):
                print('Column: %d, Selected %s, Rank: %.3f' % (t, rfe.support_[t], rfe.ranking_[t]))
            d1 = []
            for t in range(X.shape[1]):
                if rfe.support_[t] == True:
                    d1.append(t)
            dic[y.name]= d1
            df = df1.iloc[:,dic[y.name]]
            try:    
                df.to_csv(f"C:\\Users\\pabli\\Desktop\\Health-Database\\data\\thresh{r}_models\\{i}.csv")
            except:
                print(i)
        except:
            print(i)

Best Model: RFR, RMSE = 10, R2_train = 0.9424, R2_test = 0.5608, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 4.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected False, Rank: 14.000
Column: 3, Selected False, Rank: 20.000
Column: 4, Selected False, Rank: 2.000
Column: 5, Selected False, Rank: 15.000
Column: 6, Selected True, Rank: 1.000
Column: 7, Selected True, Rank: 1.000
Column: 8, Selected True, Rank: 1.000
Column: 9, Selected False, Rank: 9.000
Column: 10, Selected False, Rank: 21.000
Column: 11, Selected False, Rank: 19.000
Column: 12, Selected False, Rank: 13.000
Column: 13, Selected False, Rank: 12.000
Column: 14, Selected False, Rank: 7.000
Column: 15, Selected False, Rank: 5.000
Column: 16, Selected False, Rank: 3.000
Column: 17, Selected False, Rank: 6.000
Column: 18, Selected False, Rank: 16.000
Column: 19, Selected False, Rank: 10.000
Column: 20, Selected False, Rank: 8.000
Column: 21, Selected False, Rank: 18.000
Column: 22, Selected True, Rank: 1.000
Column: 23, Selected False, Rank: 11.000
Column: 24, Selected False, Rank: 22.000
Column: 25, Selected False, Rank: 17.000
Total NCD Deaths (in thousands)
Best Model: RFR, RMSE = 6, R2_train = 0.9388, R2_test = 0.6809, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 5.000
Column: 1, Selected False, Rank: 14.000
Column: 2, Selected False, Rank: 12.000
Column: 3, Selected False, Rank: 21.000
Column: 4, Selected False, Rank: 3.000
Column: 5, Selected False, Rank: 10.000
Column: 6, Selected False, Rank: 20.000
Column: 7, Selected False, Rank: 16.000
Column: 8, Selected True, Rank: 1.000
Column: 9, Selected True, Rank: 1.000
Column: 10, Selected False, Rank: 17.000
Column: 11, Selected False, Rank: 19.000
Column: 12, Selected True, Rank: 1.000
Column: 13, Selected True, Rank: 1.000
Column: 14, Selected False, Rank: 8.000
Column: 15, Selected True, Rank: 1.000
Column: 16, Selected False, Rank: 4.000
Column: 17, Selected False, Rank: 6.000
Column: 18, Selected False, Rank: 11.000
Column: 19, Selected False, Rank: 7.000
Column: 20, Selected False, Rank: 9.000
Column: 21, Selected False, Rank: 18.000
Column: 22, Selected False, Rank: 15.000
Column: 23, Selected False, Rank: 2.000
Column: 24, Selected False, Rank: 22.000
Column: 25, Selected False, Rank: 13.000
Best Model: RFR, RMSE = 6, R2_train = 0.9208, R2_test = 0.4518, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 19.000
Column: 1, Selected False, Rank: 4.000
Column: 2, Selected False, Rank: 11.000
Column: 3, Selected False, Rank: 21.000
Column: 4, Selected False, Rank: 5.000
Column: 5, Selected False, Rank: 20.000
Column: 6, Selected False, Rank: 13.000
Column: 7, Selected False, Rank: 14.000
Column: 8, Selected True, Rank: 1.000
Column: 9, Selected True, Rank: 1.000
Column: 10, Selected False, Rank: 17.000
Column: 11, Selected False, Rank: 15.000
Column: 12, Selected True, Rank: 1.000
Column: 13, Selected False, Rank: 9.000
Column: 14, Selected True, Rank: 1.000
Column: 15, Selected False, Rank: 7.000
Column: 16, Selected False, Rank: 10.000
Column: 17, Selected False, Rank: 16.000
Column: 18, Selected False, Rank: 3.000
Column: 19, Selected False, Rank: 2.000
Column: 20, Selected True, Rank: 1.000
Column: 21, Selected False, Rank: 12.000
Column: 22, Selected False, Rank: 8.000
Column: 23, Selected False, Rank: 6.000
Column: 24, Selected False, Rank: 22.000
Column: 25, Selected False, Rank: 18.000
Prevalence of controlled hypertension among adults aged 30-79 years with hypertension, age-standardized
Best Model: RFR, RMSE = 3298, R2_train = 0.9941, R2_test = 0.9706, LO NORMAL
Column: 0, Selected False, Rank: 21.000
Column: 1, Selected False, Rank: 9.000
Column: 2, Selected False, Rank: 3.000
Column: 3, Selected False, Rank: 19.000
Column: 4, Selected False, Rank: 6.000
Column: 5, Selected False, Rank: 20.000
Column: 6, Selected False, Rank: 14.000
Column: 7, Selected False, Rank: 17.000
Column: 8, Selected False, Rank: 12.000
Column: 9, Selected True, Rank: 1.000
Column: 10, Selected False, Rank: 15.000
Column: 11, Selected False, Rank: 18.000
Column: 12, Selected True, Rank: 1.000
Column: 13, Selected True, Rank: 1.000
Column: 14, Selected True, Rank: 1.000
Column: 15, Selected False, Rank: 4.000
Column: 16, Selected False, Rank: 10.000
Column: 17, Selected True, Rank: 1.000
Column: 18, Selected False, Rank: 13.000
Column: 19, Selected False, Rank: 11.000
Column: 20, Selected False, Rank: 7.000
Column: 21, Selected False, Rank: 8.000
Column: 22, Selected False, Rank: 5.000
Column: 23, Selected False, Rank: 2.000
Column: 24, Selected False, Rank: 22.000
Column: 25, Selected False, Rank: 16.000
gdp/percap
per_capita-Chronic Respiratory Diseases
Best Model: RFR, RMSE = 10, R2_train = 0.9399, R2_test = 0.5501, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 9.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected False, Rank: 20.000
Column: 3, Selected False, Rank: 28.000
Column: 4, Selected False, Rank: 2.000
Column: 5, Selected False, Rank: 18.000
Column: 6, Selected True, Rank: 1.000
Column: 7, Selected True, Rank: 1.000
Column: 8, Selected False, Rank: 3.000
Column: 9, Selected True, Rank: 1.000
Column: 10, Selected False, Rank: 5.000
Column: 11, Selected False, Rank: 19.000
Column: 12, Selected False, Rank: 26.000
Column: 13, Selected False, Rank: 24.000
Column: 14, Selected False, Rank: 17.000
Column: 15, Selected False, Rank: 15.000
Column: 16, Selected False, Rank: 12.000
Column: 17, Selected False, Rank: 7.000
Column: 18, Selected False, Rank: 6.000
Column: 19, Selected False, Rank: 4.000
Column: 20, Selected False, Rank: 10.000
Column: 21, Selected False, Rank: 23.000
Column: 22, Selected False, Rank: 8.000
Column: 23, Selected False, Rank: 11.000
Column: 24, Selected False, Rank: 13.000
Column: 25, Selected False, Rank: 25.000
Column: 26, Selected False, Rank: 22.000
Column: 27, Selected False, Rank: 16.000
Column: 28, Selected True, Rank: 1.000
Column: 29, Selected False, Rank: 14.000
Column: 30, Selected False, Rank: 27.000
Column: 31, Selected False, Rank: 21.000
Total NCD Deaths (in thousands)
Best Model: RFR, RMSE = 6, R2_train = 0.9357, R2_test = 0.6955, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 14.000
Column: 1, Selected False, Rank: 17.000
Column: 2, Selected False, Rank: 24.000
Column: 3, Selected False, Rank: 27.000
Column: 4, Selected False, Rank: 19.000
Column: 5, Selected False, Rank: 10.000
Column: 6, Selected False, Rank: 26.000
Column: 7, Selected False, Rank: 23.000
Column: 8, Selected False, Rank: 13.000
Column: 9, Selected True, Rank: 1.000
Column: 10, Selected False, Rank: 16.000
Column: 11, Selected True, Rank: 1.000
Column: 12, Selected False, Rank: 25.000
Column: 13, Selected False, Rank: 20.000
Column: 14, Selected True, Rank: 1.000
Column: 15, Selected True, Rank: 1.000
Column: 16, Selected False, Rank: 5.000
Column: 17, Selected False, Rank: 4.000
Column: 18, Selected False, Rank: 7.000
Column: 19, Selected False, Rank: 15.000
Column: 20, Selected False, Rank: 12.000
Column: 21, Selected False, Rank: 18.000
Column: 22, Selected False, Rank: 8.000
Column: 23, Selected False, Rank: 11.000
Column: 24, Selected False, Rank: 6.000
Column: 25, Selected False, Rank: 21.000
Column: 26, Selected False, Rank: 22.000
Column: 27, Selected True, Rank: 1.000
Column: 28, Selected False, Rank: 3.000
Column: 29, Selected False, Rank: 2.000
Column: 30, Selected False, Rank: 28.000
Column: 31, Selected False, Rank: 9.000
Best Model: Lasso, RMSE = 7, R2_train = 0.4575, R2_test = 0.2667, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 26.000
Column: 1, Selected False, Rank: 16.000
Column: 2, Selected False, Rank: 19.000
Column: 3, Selected False, Rank: 25.000
Column: 4, Selected False, Rank: 17.000
Column: 5, Selected False, Rank: 27.000
Column: 6, Selected False, Rank: 20.000
Column: 7, Selected False, Rank: 21.000
Column: 8, Selected False, Rank: 3.000
Column: 9, Selected True, Rank: 1.000
Column: 10, Selected False, Rank: 9.000
Column: 11, Selected True, Rank: 1.000
Column: 12, Selected False, Rank: 22.000
Column: 13, Selected False, Rank: 23.000
Column: 14, Selected False, Rank: 8.000
Column: 15, Selected False, Rank: 6.000
Column: 16, Selected True, Rank: 1.000
Column: 17, Selected False, Rank: 13.000
Column: 18, Selected False, Rank: 15.000
Column: 19, Selected False, Rank: 2.000
Column: 20, Selected False, Rank: 18.000
Column: 21, Selected False, Rank: 11.000
Column: 22, Selected False, Rank: 10.000
Column: 23, Selected False, Rank: 5.000
Column: 24, Selected False, Rank: 7.000
Column: 25, Selected False, Rank: 12.000
Column: 26, Selected True, Rank: 1.000
Column: 27, Selected True, Rank: 1.000
Column: 28, Selected False, Rank: 14.000
Column: 29, Selected False, Rank: 4.000
Column: 30, Selected False, Rank: 28.000
Column: 31, Selected False, Rank: 24.000
Prevalence of controlled hypertension among adults aged 30-79 years with hypertension, age-standardized

Best Model: RFR, RMSE = 2911, R2_train = 0.9957, R2_test = 0.9768, LO NORMAL
Column: 0, Selected False, Rank: 27.000
Column: 1, Selected False, Rank: 12.000
Column: 2, Selected False, Rank: 14.000
Column: 3, Selected False, Rank: 26.000
Column: 4, Selected False, Rank: 10.000
Column: 5, Selected False, Rank: 25.000
Column: 6, Selected False, Rank: 15.000
Column: 7, Selected False, Rank: 22.000
Column: 8, Selected False, Rank: 5.000
Column: 9, Selected False, Rank: 9.000
Column: 10, Selected True, Rank: 1.000
Column: 11, Selected False, Rank: 4.000
Column: 12, Selected False, Rank: 20.000
Column: 13, Selected False, Rank: 24.000
Column: 14, Selected False, Rank: 2.000
Column: 15, Selected True, Rank: 1.000
Column: 16, Selected True, Rank: 1.000
Column: 17, Selected False, Rank: 13.000
Column: 18, Selected True, Rank: 1.000
Column: 19, Selected False, Rank: 11.000
Column: 20, Selected False, Rank: 7.000
Column: 21, Selected False, Rank: 21.000
Column: 22, Selected False, Rank: 6.000
Column: 23, Selected False, Rank: 18.000
Column: 24, Selected False, Rank: 8.000
Column: 25, Selected False, Rank: 17.000
Column: 26, Selected False, Rank: 16.000
Column: 27, Selected False, Rank: 19.000
Column: 28, Selected True, Rank: 1.000
Column: 29, Selected False, Rank: 3.000
Column: 30, Selected False, Rank: 28.000
Column: 31, Selected False, Rank: 23.000
gdp/percap
per_capita-Chronic Respiratory Diseases
Best Model: RFR, RMSE = 10, R2_train = 0.9401, R2_test = 0.5657, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 8.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected False, Rank: 2.000
Column: 3, Selected False, Rank: 28.000
Column: 4, Selected False, Rank: 34.000
Column: 5, Selected False, Rank: 6.000
Column: 6, Selected False, Rank: 24.000
Column: 7, Selected True, Rank: 1.000
Column: 8, Selected True, Rank: 1.000
Column: 9, Selected False, Rank: 3.000
Column: 10, Selected True, Rank: 1.000
Column: 11, Selected False, Rank: 5.000
Column: 12, Selected False, Rank: 21.000
Column: 13, Selected False, Rank: 32.000
Column: 14, Selected False, Rank: 16.000
Column: 15, Selected False, Rank: 31.000
Column: 16, Selected False, Rank: 25.000
Column: 17, Selected False, Rank: 20.000
Column: 18, Selected False, Rank: 12.000
Column: 19, Selected False, Rank: 15.000
Column: 20, Selected False, Rank: 9.000
Column: 21, Selected True, Rank: 1.000
Column: 22, Selected False, Rank: 7.000
Column: 23, Selected False, Rank: 11.000
Column: 24, Selected False, Rank: 27.000
Column: 25, Selected False, Rank: 13.000
Column: 26, Selected False, Rank: 22.000
Column: 27, Selected False, Rank: 14.000
Column: 28, Selected False, Rank: 10.000
Column: 29, Selected False, Rank: 29.000
Column: 30, Selected False, Rank: 30.000
Column: 31, Selected False, Rank: 18.000
Column: 32, Selected False, Rank: 4.000
Column: 33, Selected False, Rank: 17.000
Column: 34, Selected False, Rank: 33.000
Column: 35, Selected False, Rank: 23.000
Column: 36, Selected False, Rank: 19.000
Column: 37, Selected False, Rank: 26.000
Best Model: Elastic, RMSE = 131427, R2_train = 0.7465, R2_test = 0.8609, UNDERFITING (dame más datos)
Column: 0, Selected False, Rank: 33.000
Column: 1, Selected False, Rank: 25.000
Column: 2, Selected False, Rank: 10.000
Column: 3, Selected True, Rank: 1.000
Column: 4, Selected False, Rank: 8.000
Column: 5, Selected False, Rank: 22.000
Column: 6, Selected False, Rank: 14.000
Column: 7, Selected True, Rank: 1.000
Column: 8, Selected False, Rank: 28.000
Column: 9, Selected False, Rank: 24.000
Column: 10, Selected False, Rank: 17.000
Column: 11, Selected False, Rank: 5.000
Column: 12, Selected False, Rank: 4.000
Column: 13, Selected False, Rank: 20.000
Column: 14, Selected False, Rank: 21.000
Column: 15, Selected False, Rank: 23.000
Column: 16, Selected False, Rank: 26.000
Column: 17, Selected False, Rank: 6.000
Column: 18, Selected False, Rank: 13.000
Column: 19, Selected True, Rank: 1.000
Column: 20, Selected False, Rank: 15.000
Column: 21, Selected False, Rank: 32.000
Column: 22, Selected False, Rank: 18.000
Column: 23, Selected False, Rank: 2.000
Column: 24, Selected False, Rank: 30.000
Column: 25, Selected False, Rank: 11.000
Column: 26, Selected True, Rank: 1.000
Column: 27, Selected False, Rank: 27.000
Column: 28, Selected False, Rank: 3.000
Column: 29, Selected False, Rank: 12.000
Column: 30, Selected False, Rank: 16.000
Column: 31, Selected False, Rank: 19.000
Column: 32, Selected True, Rank: 1.000
Column: 33, Selected False, Rank: 7.000
Column: 34, Selected False, Rank: 34.000
Column: 35, Selected False, Rank: 9.000
Column: 36, Selected False, Rank: 31.000
Column: 37, Selected False, Rank: 29.000
Best Model: RFR, RMSE = 6, R2_train = 0.9409, R2_test = 0.7137, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 31.000
Column: 1, Selected False, Rank: 3.000
Column: 2, Selected False, Rank: 20.000
Column: 3, Selected False, Rank: 30.000
Column: 4, Selected False, Rank: 27.000
Column: 5, Selected False, Rank: 5.000
Column: 6, Selected False, Rank: 25.000
Column: 7, Selected False, Rank: 28.000
Column: 8, Selected False, Rank: 19.000
Column: 9, Selected False, Rank: 24.000
Column: 10, Selected True, Rank: 1.000
Column: 11, Selected False, Rank: 21.000
Column: 12, Selected True, Rank: 1.000
Column: 13, Selected False, Rank: 33.000
Column: 14, Selected False, Rank: 14.000
Column: 15, Selected False, Rank: 32.000
Column: 16, Selected True, Rank: 1.000
Column: 17, Selected True, Rank: 1.000
Column: 18, Selected False, Rank: 7.000
Column: 19, Selected True, Rank: 1.000
Column: 20, Selected False, Rank: 8.000
Column: 21, Selected False, Rank: 10.000
Column: 22, Selected False, Rank: 13.000
Column: 23, Selected False, Rank: 17.000
Column: 24, Selected False, Rank: 22.000
Column: 25, Selected False, Rank: 11.000
Column: 26, Selected False, Rank: 12.000
Column: 27, Selected False, Rank: 15.000
Column: 28, Selected False, Rank: 9.000
Column: 29, Selected False, Rank: 26.000
Column: 30, Selected False, Rank: 29.000
Column: 31, Selected False, Rank: 2.000
Column: 32, Selected False, Rank: 6.000
Column: 33, Selected False, Rank: 4.000
Column: 34, Selected False, Rank: 34.000
Column: 35, Selected False, Rank: 23.000
Column: 36, Selected False, Rank: 18.000
Column: 37, Selected False, Rank: 16.000
Best Model: Lasso, RMSE = 7, R2_train = 0.4575, R2_test = 0.2667, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 31.000
Column: 1, Selected False, Rank: 23.000
Column: 2, Selected False, Rank: 20.000
Column: 3, Selected False, Rank: 28.000
Column: 4, Selected False, Rank: 32.000
Column: 5, Selected False, Rank: 22.000
Column: 6, Selected False, Rank: 33.000
Column: 7, Selected False, Rank: 27.000
Column: 8, Selected False, Rank: 26.000
Column: 9, Selected False, Rank: 6.000
Column: 10, Selected True, Rank: 1.000
Column: 11, Selected False, Rank: 10.000
Column: 12, Selected True, Rank: 1.000
Column: 13, Selected False, Rank: 25.000
Column: 14, Selected False, Rank: 3.000
Column: 15, Selected False, Rank: 29.000
Column: 16, Selected False, Rank: 7.000
Column: 17, Selected False, Rank: 14.000
Column: 18, Selected True, Rank: 1.000
Column: 19, Selected False, Rank: 8.000
Column: 20, Selected False, Rank: 11.000
Column: 21, Selected False, Rank: 19.000
Column: 22, Selected False, Rank: 2.000
Column: 23, Selected False, Rank: 24.000
Column: 24, Selected False, Rank: 12.000
Column: 25, Selected False, Rank: 15.000
Column: 26, Selected False, Rank: 13.000
Column: 27, Selected False, Rank: 4.000
Column: 28, Selected False, Rank: 9.000
Column: 29, Selected False, Rank: 16.000
Column: 30, Selected True, Rank: 1.000
Column: 31, Selected True, Rank: 1.000
Column: 32, Selected False, Rank: 18.000
Column: 33, Selected False, Rank: 5.000
Column: 34, Selected False, Rank: 34.000
Column: 35, Selected False, Rank: 30.000
Column: 36, Selected False, Rank: 21.000
Column: 37, Selected False, Rank: 17.000
Best Model: RFR, RMSE = 2, R2_train = 0.9936, R2_test = 0.9618, LO NORMAL
Column: 0, Selected False, Rank: 33.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected False, Rank: 15.000
Column: 3, Selected True, Rank: 1.000
Column: 4, Selected False, Rank: 30.000
Column: 5, Selected False, Rank: 13.000
Column: 6, Selected False, Rank: 29.000
Column: 7, Selected False, Rank: 14.000
Column: 8, Selected False, Rank: 19.000
Column: 9, Selected False, Rank: 10.000
Column: 10, Selected False, Rank: 17.000
Column: 11, Selected False, Rank: 12.000
Column: 12, Selected False, Rank: 4.000
Column: 13, Selected False, Rank: 32.000
Column: 14, Selected False, Rank: 3.000
Column: 15, Selected False, Rank: 31.000
Column: 16, Selected False, Rank: 6.000
Column: 17, Selected False, Rank: 9.000
Column: 18, Selected False, Rank: 8.000
Column: 19, Selected False, Rank: 11.000
Column: 20, Selected False, Rank: 5.000
Column: 21, Selected True, Rank: 1.000
Column: 22, Selected True, Rank: 1.000
Column: 23, Selected False, Rank: 21.000
Column: 24, Selected True, Rank: 1.000
Column: 25, Selected False, Rank: 26.000
Column: 26, Selected False, Rank: 23.000
Column: 27, Selected False, Rank: 20.000
Column: 28, Selected False, Rank: 28.000
Column: 29, Selected False, Rank: 2.000
Column: 30, Selected False, Rank: 18.000
Column: 31, Selected False, Rank: 16.000
Column: 32, Selected False, Rank: 24.000
Column: 33, Selected False, Rank: 25.000
Column: 34, Selected False, Rank: 22.000
Column: 35, Selected False, Rank: 34.000
Column: 36, Selected False, Rank: 27.000
Column: 37, Selected False, Rank: 7.000

Best Model: RFR, RMSE = 2380, R2_train = 0.9961, R2_test = 0.9834, LO NORMAL
Column: 0, Selected False, Rank: 33.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected False, Rank: 19.000
Column: 3, Selected False, Rank: 17.000
Column: 4, Selected False, Rank: 22.000
Column: 5, Selected False, Rank: 14.000
Column: 6, Selected False, Rank: 32.000
Column: 7, Selected False, Rank: 18.000
Column: 8, Selected False, Rank: 25.000
Column: 9, Selected False, Rank: 6.000
Column: 10, Selected False, Rank: 9.000
Column: 11, Selected True, Rank: 1.000
Column: 12, Selected False, Rank: 11.000
Column: 13, Selected False, Rank: 30.000
Column: 14, Selected False, Rank: 5.000
Column: 15, Selected False, Rank: 31.000
Column: 16, Selected False, Rank: 3.000
Column: 17, Selected True, Rank: 1.000
Column: 18, Selected True, Rank: 1.000
Column: 19, Selected False, Rank: 2.000
Column: 20, Selected False, Rank: 16.000
Column: 21, Selected True, Rank: 1.000
Column: 22, Selected False, Rank: 12.000
Column: 23, Selected False, Rank: 13.000
Column: 24, Selected False, Rank: 28.000
Column: 25, Selected False, Rank: 15.000
Column: 26, Selected False, Rank: 26.000
Column: 27, Selected False, Rank: 20.000
Column: 28, Selected False, Rank: 7.000
Column: 29, Selected False, Rank: 21.000
Column: 30, Selected False, Rank: 24.000
Column: 31, Selected False, Rank: 27.000
Column: 32, Selected False, Rank: 10.000
Column: 33, Selected False, Rank: 4.000
Column: 34, Selected False, Rank: 34.000
Column: 35, Selected False, Rank: 29.000
Column: 36, Selected False, Rank: 8.000
Column: 37, Selected False, Rank: 23.000
gdp/percap
per_capita-Chronic Respiratory Diseases
Best Model: RFR, RMSE = 10, R2_train = 0.9414, R2_test = 0.5641, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 7.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected True, Rank: 1.000
Column: 3, Selected False, Rank: 26.000
Column: 4, Selected False, Rank: 31.000
Column: 5, Selected False, Rank: 9.000
Column: 6, Selected False, Rank: 22.000
Column: 7, Selected True, Rank: 1.000
Column: 8, Selected True, Rank: 1.000
Column: 9, Selected False, Rank: 4.000
Column: 10, Selected False, Rank: 3.000
Column: 11, Selected False, Rank: 5.000
Column: 12, Selected False, Rank: 17.000
Column: 13, Selected False, Rank: 33.000
Column: 14, Selected False, Rank: 19.000
Column: 15, Selected False, Rank: 30.000
Column: 16, Selected False, Rank: 24.000
Column: 17, Selected False, Rank: 20.000
Column: 18, Selected False, Rank: 14.000
Column: 19, Selected False, Rank: 21.000
Column: 20, Selected False, Rank: 8.000
Column: 21, Selected True, Rank: 1.000
Column: 22, Selected False, Rank: 6.000
Column: 23, Selected False, Rank: 13.000
Column: 24, Selected False, Rank: 28.000
Column: 25, Selected False, Rank: 15.000
Column: 26, Selected False, Rank: 10.000
Column: 27, Selected False, Rank: 12.000
Column: 28, Selected False, Rank: 11.000
Column: 29, Selected False, Rank: 29.000
Column: 30, Selected False, Rank: 27.000
Column: 31, Selected False, Rank: 18.000
Column: 32, Selected False, Rank: 2.000
Column: 33, Selected False, Rank: 16.000
Column: 34, Selected False, Rank: 32.000
Column: 35, Selected False, Rank: 23.000
Column: 36, Selected False, Rank: 25.000
Best Model: Elastic, RMSE = 131337, R2_train = 0.7463, R2_test = 0.8611, UNDERFITING (dame más datos)
Column: 0, Selected False, Rank: 32.000
Column: 1, Selected False, Rank: 26.000
Column: 2, Selected False, Rank: 17.000
Column: 3, Selected True, Rank: 1.000
Column: 4, Selected False, Rank: 8.000
Column: 5, Selected False, Rank: 28.000
Column: 6, Selected False, Rank: 10.000
Column: 7, Selected True, Rank: 1.000
Column: 8, Selected False, Rank: 31.000
Column: 9, Selected False, Rank: 22.000
Column: 10, Selected False, Rank: 15.000
Column: 11, Selected False, Rank: 5.000
Column: 12, Selected False, Rank: 4.000
Column: 13, Selected False, Rank: 18.000
Column: 14, Selected False, Rank: 29.000
Column: 15, Selected False, Rank: 20.000
Column: 16, Selected False, Rank: 23.000
Column: 17, Selected False, Rank: 6.000
Column: 18, Selected False, Rank: 12.000
Column: 19, Selected True, Rank: 1.000
Column: 20, Selected False, Rank: 11.000
Column: 21, Selected False, Rank: 21.000
Column: 22, Selected False, Rank: 25.000
Column: 23, Selected False, Rank: 2.000
Column: 24, Selected False, Rank: 24.000
Column: 25, Selected False, Rank: 13.000
Column: 26, Selected True, Rank: 1.000
Column: 27, Selected False, Rank: 27.000
Column: 28, Selected False, Rank: 3.000
Column: 29, Selected False, Rank: 16.000
Column: 30, Selected False, Rank: 9.000
Column: 31, Selected False, Rank: 19.000
Column: 32, Selected True, Rank: 1.000
Column: 33, Selected False, Rank: 7.000
Column: 34, Selected False, Rank: 33.000
Column: 35, Selected False, Rank: 14.000
Column: 36, Selected False, Rank: 30.000
Best Model: RFR, RMSE = 6, R2_train = 0.9395, R2_test = 0.7323, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 30.000
Column: 1, Selected False, Rank: 3.000
Column: 2, Selected False, Rank: 24.000
Column: 3, Selected False, Rank: 27.000
Column: 4, Selected False, Rank: 31.000
Column: 5, Selected False, Rank: 10.000
Column: 6, Selected False, Rank: 19.000
Column: 7, Selected False, Rank: 23.000
Column: 8, Selected False, Rank: 18.000
Column: 9, Selected False, Rank: 25.000
Column: 10, Selected True, Rank: 1.000
Column: 11, Selected False, Rank: 20.000
Column: 12, Selected True, Rank: 1.000
Column: 13, Selected False, Rank: 29.000
Column: 14, Selected False, Rank: 14.000
Column: 15, Selected False, Rank: 32.000
Column: 16, Selected True, Rank: 1.000
Column: 17, Selected True, Rank: 1.000
Column: 18, Selected False, Rank: 8.000
Column: 19, Selected True, Rank: 1.000
Column: 20, Selected False, Rank: 7.000
Column: 21, Selected False, Rank: 17.000
Column: 22, Selected False, Rank: 11.000
Column: 23, Selected False, Rank: 13.000
Column: 24, Selected False, Rank: 22.000
Column: 25, Selected False, Rank: 9.000
Column: 26, Selected False, Rank: 4.000
Column: 27, Selected False, Rank: 16.000
Column: 28, Selected False, Rank: 12.000
Column: 29, Selected False, Rank: 26.000
Column: 30, Selected False, Rank: 28.000
Column: 31, Selected False, Rank: 2.000
Column: 32, Selected False, Rank: 6.000
Column: 33, Selected False, Rank: 5.000
Column: 34, Selected False, Rank: 33.000
Column: 35, Selected False, Rank: 21.000
Column: 36, Selected False, Rank: 15.000
Best Model: Lasso, RMSE = 7, R2_train = 0.4575, R2_test = 0.2667, OVERFITING (modifica datos)
Column: 0, Selected False, Rank: 31.000
Column: 1, Selected False, Rank: 22.000
Column: 2, Selected False, Rank: 20.000
Column: 3, Selected False, Rank: 25.000
Column: 4, Selected False, Rank: 30.000
Column: 5, Selected False, Rank: 21.000
Column: 6, Selected False, Rank: 32.000
Column: 7, Selected False, Rank: 28.000
Column: 8, Selected False, Rank: 26.000
Column: 9, Selected False, Rank: 6.000
Column: 10, Selected True, Rank: 1.000
Column: 11, Selected False, Rank: 10.000
Column: 12, Selected True, Rank: 1.000
Column: 13, Selected False, Rank: 24.000
Column: 14, Selected False, Rank: 2.000
Column: 15, Selected False, Rank: 27.000
Column: 16, Selected False, Rank: 8.000
Column: 17, Selected False, Rank: 16.000
Column: 18, Selected True, Rank: 1.000
Column: 19, Selected False, Rank: 9.000
Column: 20, Selected False, Rank: 11.000
Column: 21, Selected False, Rank: 18.000
Column: 22, Selected False, Rank: 4.000
Column: 23, Selected False, Rank: 23.000
Column: 24, Selected False, Rank: 15.000
Column: 25, Selected False, Rank: 14.000
Column: 26, Selected False, Rank: 12.000
Column: 27, Selected False, Rank: 3.000
Column: 28, Selected False, Rank: 7.000
Column: 29, Selected False, Rank: 17.000
Column: 30, Selected True, Rank: 1.000
Column: 31, Selected True, Rank: 1.000
Column: 32, Selected False, Rank: 13.000
Column: 33, Selected False, Rank: 5.000
Column: 34, Selected False, Rank: 33.000
Column: 35, Selected False, Rank: 29.000
Column: 36, Selected False, Rank: 19.000
Prevalence of controlled hypertension among adults aged 30-79 years with hypertension, age-standardized
Best Model: RFR, RMSE = 2426, R2_train = 0.9962, R2_test = 0.9837, LO NORMAL
Column: 0, Selected False, Rank: 32.000
Column: 1, Selected True, Rank: 1.000
Column: 2, Selected False, Rank: 14.000
Column: 3, Selected False, Rank: 18.000
Column: 4, Selected False, Rank: 28.000
Column: 5, Selected False, Rank: 13.000
Column: 6, Selected False, Rank: 31.000
Column: 7, Selected False, Rank: 17.000
Column: 8, Selected False, Rank: 24.000
Column: 9, Selected False, Rank: 3.000
Column: 10, Selected False, Rank: 8.000
Column: 11, Selected True, Rank: 1.000
Column: 12, Selected False, Rank: 7.000
Column: 13, Selected False, Rank: 23.000
Column: 14, Selected False, Rank: 6.000
Column: 15, Selected False, Rank: 30.000
Column: 16, Selected False, Rank: 4.000
Column: 17, Selected True, Rank: 1.000
Column: 18, Selected True, Rank: 1.000
Column: 19, Selected False, Rank: 2.000
Column: 20, Selected False, Rank: 10.000
Column: 21, Selected True, Rank: 1.000
Column: 22, Selected False, Rank: 12.000
Column: 23, Selected False, Rank: 11.000
Column: 24, Selected False, Rank: 27.000
Column: 25, Selected False, Rank: 16.000
Column: 26, Selected False, Rank: 25.000
Column: 27, Selected False, Rank: 20.000
Column: 28, Selected False, Rank: 9.000
Column: 29, Selected False, Rank: 19.000
Column: 30, Selected False, Rank: 21.000
Column: 31, Selected False, Rank: 26.000
Column: 32, Selected False, Rank: 15.000
Column: 33, Selected False, Rank: 5.000
Column: 34, Selected False, Rank: 33.000
Column: 35, Selected False, Rank: 29.000
Column: 36, Selected False, Rank: 22.000
gdp/percap
per_capita-Chronic Respiratory Diseases

In [10]:
dic['Adolescent birth rate (per 1000 women aged 15-19 years)']

[1, 5, 8, 9, 12]

In [28]:
dic

{'Adolescent birth rate (per 1000 women aged 15-19 years)': [1, 5, 8, 9, 12],
 'Total NCD Deaths (in thousands)': [3, 7, 11, 23, 31],
 'Estimates of rates of homicides per 100 000 population': [11,
  14,
  20,
  23,
  32],
 'Age-standardized suicide rates (per 100 000 population)': [11,
  12,
  17,
  21,
  36],
 'Prevalence of controlled hypertension among adults aged 30-79 years with hypertension, age-standardized': [1,
  3,
  25,
  27,
  29],
 'gdp/percap': [1, 13, 20, 22, 26],
 'per_capita-Chronic Respiratory Diseases': [3, 10, 11, 14, 30]}

In [24]:
df1.drop(columns=["Unnamed: 0",'Adolescent birth rate (per 1000 women aged 15-19 years)'],inplace=True)

In [27]:
df1.iloc[:,[1, 5, 8, 9, 12]]

,Interpersonal Violence,Environmental Heat and Cold Exposure,Acute Hepatitis,per_capita-Malaria,per_capita-HIV/AIDS
0,3277.0000,53.0000,4251.0000,0.0001,0.0000
1,3458.0000,55.0000,4373.0000,0.0001,0.0000
2,3479.0000,57.0000,4345.0000,0.0000,0.0000
3,3506.0000,78.0000,4194.0000,0.0000,0.0000
4,3609.0000,57.0000,3870.0000,0.0000,0.0000
...,...,...,...,...,...
3073,1302.0000,37.0000,146.0000,0.0002,0.0020
3074,1342.0000,37.0000,146.0000,0.0001,0.0019
3075,1363.0000,37.0000,144.0000,0.0001,0.0017
3076,1396.0000,37.0000,139.0000,0.0001,0.0015
3077,1434.0000,37.0000,136.0000,0.0001,0.0013

In [30]:
print("2")

2

###