In [52]:
import pandas as pd

In [53]:
median=pd.read_csv(r"C:\Users\pabli\Desktop\Health-Database\data\MedianAge.csv")

In [54]:
median.columns[1:11]

Index(['1950', '1955', '1960', '1965', '1970', '1975', '1980', '1985', '1990',
       '1995'],
      dtype='object')

In [55]:
median.drop(columns = median.columns[1:11],inplace = True )

In [56]:
median

,Country,2000,2005,2010,2015,2020,2025,2030,2035,2040,2045,2050
0,Afghanistan,16.413,16.490,16.868,17.326,17.810,18.319,18.936,19.775,20.918,22.196,23.522
1,Albania,26.930,28.532,29.968,31.796,33.636,35.737,37.988,40.292,42.258,43.702,44.268
2,Algeria,21.787,24.015,26.247,28.311,30.333,32.300,34.187,35.547,36.877,38.145,39.416
3,Angola,16.374,16.718,17.385,17.989,18.658,19.510,20.435,21.623,22.891,24.197,25.561
4,Argentina,28.142,29.120,30.439,31.615,32.837,34.147,35.551,36.931,38.163,39.271,40.386
...,...,...,...,...,...,...,...,...,...,...,...,...
210,Western Europe,38.838,40.486,42.223,43.821,44.920,45.613,46.208,46.779,47.237,47.469,47.557
211,Western Sahara,22.126,24.221,26.466,28.347,30.050,31.775,33.359,34.691,35.667,36.607,37.585
212,"Yemen, Rep.",15.763,16.802,17.797,18.782,19.776,20.898,22.304,23.845,25.508,27.293,29.108
213,Zambia,17.213,16.814,16.754,17.097,17.805,18.682,19.717,20.912,22.148,23.397,24.676
214,Zimbabwe,18.049,18.388,19.020,20.703,22.144,23.287,24.444,25.798,27.324,28.924,30.655

In [57]:
median.columns[5:]

Index(['2020', '2025', '2030', '2035', '2040', '2045', '2050'], dtype='object')

In [58]:
median.drop(columns =median.columns[5:],inplace = True )

In [59]:
median

            Country    2000    2005    2010    2015
0       Afghanistan  16.413  16.490  16.868  17.326
1           Albania  26.930  28.532  29.968  31.796
2           Algeria  21.787  24.015  26.247  28.311
3            Angola  16.374  16.718  17.385  17.989
4         Argentina  28.142  29.120  30.439  31.615
..              ...     ...     ...     ...     ...
210  Western Europe  38.838  40.486  42.223  43.821
211  Western Sahara  22.126  24.221  26.466  28.347
212     Yemen, Rep.  15.763  16.802  17.797  18.782
213          Zambia  17.213  16.814  16.754  17.097
214        Zimbabwe  18.049  18.388  19.020  20.703

[215 rows x 5 columns]

In [60]:
lst = []
for i,e in enumerate(median.Country):
    for g in range(1,5):
        amount= median.iloc[i,g]
        year = 2000 + (g-1)*5
        
        lst.append({"country":e,"year":year,"average_age":amount})
data2 = pd.DataFrame(lst)

In [61]:
type(data2.year[0])

numpy.int64

In [62]:
data = pd.read_csv(r'C:\Users\pabli\Desktop\Health-Database\data\full_data2.csv')

In [64]:
data = data.merge(data2, how='left',on = ['year','country'])

In [71]:
data

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,country,country_code,year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,...,Estimate of current tobacco smoking prevalence (%) (age-standardized rate),General availability of alteplase for acute stroke management in the public health system,Year of latest adult prevalence survey (nonsmoked),Existence of national guidelines for physical activity for adults,Prevalence of daily e-cigarette use among adults (%),Overall compliance with regulations on smoke-free environments (score),Number of isolates tested for cefixime,Best-practice policy implemented for industrially produced trans-fatty acids (TFA) (Y/N),General availability of urine strips for glucose and ketone measurement at the primary health care level_y,average_age
0,0,0,0,Afghanistan,AFG,2000,3105.0,1291.0,416.0,3060.0,...,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.41300
1,1,1,1,Afghanistan,AFG,2001,3063.0,1300.0,424.0,2973.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.77425
2,2,2,2,Afghanistan,AFG,2002,2990.0,1311.0,429.0,2795.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.77425
3,3,3,3,Afghanistan,AFG,2003,3300.0,1326.0,434.0,3039.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.77425
4,4,4,4,Afghanistan,AFG,2004,3350.0,1344.0,439.0,3033.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,16.77425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,3575,3575,3575,Zimbabwe,ZWE,2015,1439.0,754.0,215.0,3019.0,...,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.70300
3576,3576,3576,3576,Zimbabwe,ZWE,2016,1457.0,767.0,219.0,3056.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.04000
3577,3577,3577,3577,Zimbabwe,ZWE,2017,1460.0,781.0,223.0,2990.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.04000
3578,3578,3578,3578,Zimbabwe,ZWE,2018,1450.0,795.0,227.0,2918.0,...,1.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,19.04000
3579,3579,3579,3579,Zimbabwe,ZWE,2019,1450.0,812.0,232.0,2884.0,...,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.04000

In [66]:
df = data.groupby(by="country").mean()["average_age"]

C:\Users\pabli\AppData\Local\Temp\ipykernel_12472\2727447308.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = data.groupby(by="country").mean()["average_age"]

In [67]:
df1 = {}
for i in range(len(df)):
    df1[df.index[i]]= df[i]

In [68]:
df1

{'Afghanistan': 16.77425,
 'Albania': 29.3065,
 'Algeria': 25.09,
 'Andorra': nan,
 'Angola': 17.116500000000002,
 'Antigua and Barbuda': nan,
 'Argentina': 29.829,
 'Armenia': 31.678,
 'Australia': 37.1435,
 'Austria': 40.85875,
 'Azerbaijan': 27.74775,
 'Bahrain': 28.23625,
 'Bangladesh': 23.58125,
 'Barbados': 36.6405,
 'Belarus': 37.795,
 'Belgium': 40.749,
 'Belize': 21.528750000000002,
 'Benin': 18.162,
 'Bhutan': 22.9535,
 'Bolivia': 21.50625,
 'Bosnia and Herzegovina': 38.192499999999995,
 'Botswana': 22.00825,
 'Brazil': 28.155,
 'Brunei': 27.13325,
 'Bulgaria': 41.2575,
 'Burkina Faso': 16.710250000000002,
 'Burundi': 19.1625,
 'Cambodia': 21.25475,
 'Cameroon': 18.9835,
 'Canada': 39.0635,
 'Cape Verde': 20.3965,
 'Central African Republic': nan,
 'Chad': 17.04725,
 'Chile': 31.231749999999998,
 'China': 32.87225,
 'Colombia': 26.0415,
 'Comoros': 20.5675,
 'Costa Rica': 27.25525,
 'Croatia': 40.89075,
 'Cyprus': 35.7655,
 'Denmark': 40.17875,
 'Djibouti': 20.89125,
 'Dominica': nan,
 'Dominican Republic': nan,
 'Ecuador': 24.7935,
 'Egypt': 23.21225,
 'El Salvador': 23.419,
 'Equatorial Guinea': 18.994999999999997,
 'Eritrea': 18.6255,
 'Estonia': 39.131,
 'Ethiopia': 17.826,
 'Fiji': 24.381,
 'Finland': 41.206500000000005,
 'France': 39.499,
 'Gabon': 21.02675,
 'Georgia': 36.61175,
 'Germany': 43.197500000000005,
 'Ghana': 20.2175,
 'Greece': 40.76925,
 'Grenada': 24.33325,
 'Guatemala': 18.60975,
 'Guinea': 18.320999999999998,
 'Guinea-Bissau': 18.884999999999998,
 'Guyana': 26.56225,
 'Haiti': 20.945999999999998,
 'Honduras': 20.34975,
 'Hungary': 39.602000000000004,
 'Iceland': 34.6355,
 'India': 24.42975,
 'Indonesia': 27.4015,
 'Iran': 25.59075,
 'Iraq': 19.284,
 'Ireland': 34.18625,
 'Israel': 29.28975,
 'Italy': 42.617000000000004,
 'Jamaica': 25.852,
 'Japan': 43.95925,
 'Jordan': 21.8825,
 'Kazakhstan': 29.05875,
 'Kenya': 18.14275,
 'Kiribati': nan,
 'Kuwait': 30.2425,
 'Kyrgyzstan': 24.51875,
 'Laos': 20.0795,
 'Latvia': 39.54275,
 'Lebanon': 28.29775,
 'Lesotho': 19.389499999999998,
 'Liberia': 18.35325,
 'Libya': 25.080000000000002,
 'Lithuania': 38.71,
 'Luxembourg': 38.7215,
 'Madagascar': 18.23075,
 'Malawi': 16.9645,
 'Malaysia': 25.64075,
 'Maldives': 23.003500000000003,
 'Mali': 17.488,
 'Malta': 38.428,
 'Marshall Islands': nan,
 'Mauritania': 19.72625,
 'Mauritius': 31.56125,
 'Mexico': 26.53325,
 'Moldova': 34.4425,
 'Mongolia': 25.25225,
 'Montenegro': 35.272999999999996,
 'Morocco': 25.2715,
 'Mozambique': 18.00775,
 'Myanmar': 27.07725,
 'Namibia': 20.6055,
 'Nauru': nan,
 'Nepal': 21.00825,
 'Netherlands': 39.912,
 'New Zealand': 36.00275,
 'Nicaragua': 21.25375,
 'Niger': 15.253,
 'Nigeria': 18.43025,
 'Norway': 38.41225,
 'Oman': 23.685000000000002,
 'Pakistan': 20.6905,
 'Palau': nan,
 'Panama': 26.7265,
 'Papua New Guinea': 19.92125,
 'Paraguay': 22.4155,
 'Peru': 24.9865,
 'Philippines': 22.644750000000002,
 'Poland': 37.5225,
 'Portugal': 40.225,
 'Puerto Rico': 35.021,
 'Qatar': 31.001,
 'Romania': 37.53275,
 'Russia': 37.69625,
 'Rwanda': 17.999499999999998,
 'Saint Kitts and Nevis': nan,
 'Saint Lucia': 26.716,
 'Saint Vincent and the Grenadines': 26.94475,
 'Samoa': 19.846,
 'San Marino': nan,
 'Saudi Arabia': 23.7855,
 'Senegal': 17.7755,
 'Serbia': 37.12325,
 'Seychelles': nan,
 'Sierra Leone': 18.39425,
 'Singapore': 39.0155,
 'Slovakia': nan,
 'Slovenia': 40.7245,
 'Solomon Islands': 19.9725,
 'Somalia': 17.72225,
 'South Africa': 24.3745,
 'South Korea': nan,
 'Spain': 39.58475,
 'Sri Lanka': 29.991,
 'Sudan': 19.93275,
 'Suriname': 27.13525,
 'Sweden': 40.49275,
 'Switzerland': 41.05325,
 'Syria': 21.3425,
 'Taiwan': nan,
 'Tajikistan': 20.169,
 'Tanzania': 17.485500000000002,
 'Thailand': 32.33625,
 'Togo': 19.4355,
 'Tonga': 20.8885,
 'Trinidad and Tobago': 29.924500000000002,
 'Tunisia': 27.96825,
 'Turkey': 27.389499999999998,
 'Turkmenistan': 24.034,
 'Tuvalu': nan,
 'Uganda': 15.52325,
 'Ukraine': 39.088,
 'United Arab Emirates': 30.6965,
 'United Kingdom': 39.183,
 'United States': 36.20675,
 'Uruguay': 33.205,
 'Uzbekistan': 23.705750000000002,
 'Vanuatu': 20.07125,
 'Venezuela': 25.42475,
 'Vietnam': 26.87075,
 'Yemen': nan,
 'Zambia': 16.9695,
 'Zimbabwe': 19.04}

In [69]:
to = data[data["average_age"].isna()==True].index

In [70]:
for i in to:
    data["average_age"][i] = df1[data["country"][i]]

C:\Users\pabli\AppData\Local\Temp\ipykernel_12472\2929636081.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["average_age"][i] = df1[data["country"][i]]

In [72]:
data.to_csv(r"C:\Users\pabli\Desktop\Health-Database\data\full_data2.csv")