In [52]:
import pandas as pd

In [53]:
median=pd.read_csv(r"C:\Users\pabli\Desktop\Health-Database\data\MedianAge.csv")

### More data is merged before cleaning, this data was obtained via a instant data scraper

In [54]:
median.columns[1:11]

Index(['1950', '1955', '1960', '1965', '1970', '1975', '1980', '1985', '1990',
       '1995'],
      dtype='object')

In [55]:
median.drop(columns = median.columns[1:11],inplace = True )

In [56]:
median

,Country,2000,2005,2010,2015,2020,2025,2030,2035,2040,2045,2050
0,Afghanistan,16.413,16.490,16.868,17.326,17.810,18.319,18.936,19.775,20.918,22.196,23.522
1,Albania,26.930,28.532,29.968,31.796,33.636,35.737,37.988,40.292,42.258,43.702,44.268
2,Algeria,21.787,24.015,26.247,28.311,30.333,32.300,34.187,35.547,36.877,38.145,39.416
3,Angola,16.374,16.718,17.385,17.989,18.658,19.510,20.435,21.623,22.891,24.197,25.561
4,Argentina,28.142,29.120,30.439,31.615,32.837,34.147,35.551,36.931,38.163,39.271,40.386
...,...,...,...,...,...,...,...,...,...,...,...,...
210,Western Europe,38.838,40.486,42.223,43.821,44.920,45.613,46.208,46.779,47.237,47.469,47.557
211,Western Sahara,22.126,24.221,26.466,28.347,30.050,31.775,33.359,34.691,35.667,36.607,37.585
212,"Yemen, Rep.",15.763,16.802,17.797,18.782,19.776,20.898,22.304,23.845,25.508,27.293,29.108
213,Zambia,17.213,16.814,16.754,17.097,17.805,18.682,19.717,20.912,22.148,23.397,24.676
214,Zimbabwe,18.049,18.388,19.020,20.703,22.144,23.287,24.444,25.798,27.324,28.924,30.655

In [57]:
median.columns[5:]

Index(['2020', '2025', '2030', '2035', '2040', '2045', '2050'], dtype='object')

In [58]:
median.drop(columns =median.columns[5:],inplace = True )

In [59]:
median

            Country    2000    2005    2010    2015
0       Afghanistan  16.413  16.490  16.868  17.326
1           Albania  26.930  28.532  29.968  31.796
2           Algeria  21.787  24.015  26.247  28.311
3            Angola  16.374  16.718  17.385  17.989
4         Argentina  28.142  29.120  30.439  31.615
..              ...     ...     ...     ...     ...
210  Western Europe  38.838  40.486  42.223  43.821
211  Western Sahara  22.126  24.221  26.466  28.347
212     Yemen, Rep.  15.763  16.802  17.797  18.782
213          Zambia  17.213  16.814  16.754  17.097
214        Zimbabwe  18.049  18.388  19.020  20.703

[215 rows x 5 columns]

In [60]:
lst = []
for i,e in enumerate(median.Country):
    for g in range(1,5):
        amount= median.iloc[i,g]
        year = 2000 + (g-1)*5
        
        lst.append({"country":e,"year":year,"average_age":amount})
data2 = pd.DataFrame(lst)

In [61]:
type(data2.year[0])

numpy.int64

In [62]:
data = pd.read_csv(r'C:\Users\pabli\Desktop\Health-Database\data\full_data2.csv')

In [64]:
data = data.merge(data2, how='left',on = ['year','country'])

In [66]:
df = data.groupby(by="country").mean()["average_age"]

C:\Users\pabli\AppData\Local\Temp\ipykernel_12472\2727447308.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = data.groupby(by="country").mean()["average_age"]

In [67]:
df1 = {}
for i in range(len(df)):
    df1[df.index[i]]= df[i]

In [69]:
to = data[data["average_age"].isna()==True].index

In [70]:
for i in to:
    data["average_age"][i] = df1[data["country"][i]]

C:\Users\pabli\AppData\Local\Temp\ipykernel_12472\2929636081.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["average_age"][i] = df1[data["country"][i]]

In [72]:
data.to_csv(r"C:\Users\pabli\Desktop\Health-Database\data\full_data2.csv")